{% extends 'base.html' %}

{% block head %}
    <link href="https://cdn.discordapp.com/attachments/936400336409755720/942973401004384276/base.css" rel="stylesheet">
    <link href="https://cdn.discordapp.com/attachments/936400336409755720/942972540320612442/login.css" rel="stylesheet">
{% endblock %}

{% block content %}
<br><br><br><br>
<form class="form-signin" method="post">
      {% csrf_token %}
      <h1 class="h3 mb-3 font-weight-normal">Register User</h1>
      <label for="inputUsername" class="sr-only">Username</label>
      <input type="text" id="inputUsername" class="form-control" placeholder="Username" name="username" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
</form>
{% endblock %}