{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block head %}
    <link rel="icon" href="https://cdn.discordapp.com/attachments/936400336409755720/942973627958181908/favicon.ico">
    <link href="https://cdn.discordapp.com/attachments/936400336409755720/942973401004384276/base.css" rel="stylesheet">
    <title>Kuro Store</title>
{% endblock %}

{% block body %}
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}
    {% if messages %}
      {% for msg in messages %}
        <div class="alert alert-{{ msg.tags }} alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{msg.message}}
        </div>
      {% endfor %}
    {% endif %}

    {% block content %}{% endblock %}
{% endblock %}