{% extends 'base.html' %}

{% block content %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Welcome to<br>{{ store.name }}</h1>
        <p class="lead font-weight-normal">{{ store.description|linebreaksbr }}</p>
        <a class="btn btn-outline-secondary" href="#shop-zone">Start Shopping</a>
      </div>
      <div class="product-device box-shadow d-none d-md-block"></div>
      <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>
{% if request.user == store.owner %}
    {% if not pair_items %}
        <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
            <div class="my-3 py-3">
                <h2 class="display-5">Your Store Have No Items （；´д｀）ゞ</h2>
                <a class="btn btn-light" href="{% url 'sales:add_item' store.id %}">Add New Item</a>
            </div>
        </div>
    {% else %}
        <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
            <div class="my-3 py-3">
                <h2 class="display-5">Add More Items To Your Store</h2>
                <a class="btn btn-light" href="{% url 'sales:add_item' store.id %}">Add New Item</a>
            </div>
        </div>
    {% endif %}
{% endif %}
<section id="shop-zone">
{% for pair in pair_items %}
    {% if not forloop.counter|divisibleby:"2" %}
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            {% for item in pair %}
                {% if not forloop.counter|divisibleby:"2" %}
                    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                        <div class="my-3 py-3">
                            <h2 class="display-5">{{ item.name }} | ${{ item.price }}
                                {% if request.user == store.owner %}
                                    <a class="dropdown-toggle" style="color:inherit" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                                        <a class="dropdown-item" href="{% url 'sales:edit_item' item.id %}">Edit</a>
                                        <a class="dropdown-item" href="{% url 'sales:delete_item' item.id %}">Delete</a>
                                    </div>
                                {% endif %}
                            </h2>
                            <p class="lead">{{ item.description }}</p>
                            <a class="btn btn-light" href="{% url 'sales:checkout' item.id %}">Buy Now</a>
                        </div>
                        <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                            <img src="{{ item.image }}" alt="Image of {{ item.name }}">
                        </div>
                    </div>
                {% else %}
                    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                        <div class="my-3 p-3">
                            <h2 class="display-5">{{ item.name }} | ${{ item.price }}
                                {% if request.user == store.owner %}
                                    <a class="dropdown-toggle" style="color:inherit" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                                        <a class="dropdown-item" href="{% url 'sales:edit_item' item.id %}">Edit</a>
                                        <a class="dropdown-item" href="{% url 'sales:delete_item' item.id %}">Delete</a>
                                    </div>
                                {% endif %}
                            </h2>
                            <p class="lead">{{ item.description }}</p>
                            <a class="btn btn-dark" href="{% url 'sales:checkout' item.id %}">Buy Now</a>
                        </div>
                        <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                            <img src="{{ item.image }}" alt="Image of {{ item.name }}">
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            {% for item in pair %}
                {% if not forloop.counter|divisibleby:"2" %}
                    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                        <div class="my-3 p-3">
                            <h2 class="display-5">{{ item.name }} | ${{ item.price }}
                                {% if request.user == store.owner %}
                                    <a class="dropdown-toggle" style="color:inherit" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                                        <a class="dropdown-item" href="{% url 'sales:edit_item' item.id %}">Edit</a>
                                        <a class="dropdown-item" href="{% url 'sales:delete_item' item.id %}">Delete</a>
                                    </div>
                                {% endif %}
                            </h2>
                            <p class="lead">{{ item.description }}</p>
                            <a class="btn btn-dark" href="{% url 'sales:checkout' item.id %}">Buy Now</a>
                        </div>
                        <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                            <img src="{{ item.image }}" alt="Image of {{ item.name }}">
                        </div>
                    </div>
                {% else %}
                  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                      <div class="my-3 py-3">
                        <h2 class="display-5">{{ item.name }} | ${{ item.price }}
                            {% if request.user == store.owner %}
                                <a class="dropdown-toggle" style="color:inherit" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                                <div class="dropdown-menu" aria-labelledby="dropdown01">
                                    <a class="dropdown-item" href="{% url 'sales:edit_item' item.id %}">Edit</a>
                                    <a class="dropdown-item" href="{% url 'sales:delete_item' item.id %}">Delete</a>
                                </div>
                            {% endif %}
                        </h2>
                        <p class="lead">{{ item.description }}</p>
                        <a class="btn btn-light" href="{% url 'sales:checkout' item.id %}">Buy Now</a>
                      </div>
                      <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                          <img src="{{ item.image }}" alt="Image of {{ item.name }}">
                      </div>
                  </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endfor %}
</section>
{% endblock %}